.burguer-menu {
}

/*esto es el header? CREO */

/* El hero debe ser maquetado con flexbox y debe ocupar todo el ancho de la página */

.hero-button {
  font:
  font-size:
  font-type:
  color:
  padding o marging? /*y despues preocuparnos de cómo poner unos al lado de otros*/
}


/* para poner un fondo de imagen en un contenedor con texto en CSS background-image */

.hero {
  text-align: center;
  flex direction: colums;
  align-items: center;
  margin-block: 2rem;

}

.fa-solid {
color: white;


}

.fa-bars {
}

.hero {
}


/*esto es la seccion verde/*/
.hero-img {
  background-image: url("./images/cover.jpeg");
  background-size: cover;
  background-position: center right -4.3rem;
  background-repeat: no-repeat;
}

.hero-text-1 {
flex: 
color: white;

}

.hero-text-2 {


}

.arrow-down {

}

.seccion-deportes {
  color: #fff;
  width: 320px;
  height: 2033px;
  position: relative;

}

.comprar-boton {

}

.school-photo {
  border-radius: 50%;
}

.icono-arrow-up {
}


/* esto es el footer */
.menu-link {
  color: black;
  text-decoration: none;


}

/*VERSION TABLET: desde 768px en adelante */
@media (min-width: 768px) {
}

/* VERSIÓN DESKTOP: Desde 1024px en adelante*/
@media (min-width >= 1024px) {
}
