/*list-style: none;  QUITA LOS PUNTITOS DEL LISTADO
 text-decoration: none; QUITA LA LINEA QUE SALE DE ABAJO DE LOS ENLACES*/
.burguer-menu {
  background: none; /* sin fondo */
  border: none; /* sin borde */
  padding: 0; /* quita relleno extra */
  cursor: pointer; /* :apuntando_hacia_arriba_2: Truqui extra: el puntero cambia al pasar por encima */
  position: absolute;



/* El hero debe ser maquetado con flexbox y debe ocupar el */
hero-button:{
  font:
  font-size:
  font-type:
  color:
  padding o marging? /*y despues preocuparnos de cómo poner unos al lado de otros*/
}
/* para poner un fondo de imagen en un contenedor con texto en CSS background-image */

.background-image: {url: ./images .cover .jpeg;} /*PREGUNTAR A IVAN SI ESTO ESTA BIEN !!!*/
background-size: cover;
background-position: center; right -4.3rem;
background-repeat: no-repeat; 


.hero-img: {

}

.icono-scroll-down: {}

.seccion-deportes: {}

.titulo-secundario: {}

.mochilas-escolares: {}

.estuches: {}

.bolsas-de-deporte: {}



/*DAR CLASE A FOOTER */

.icono-arrow-up: {}

.zapatillas {}

.ropa {}

.niño-a {}

.destacados {}

.tips {}



}





/*VERSION TABLET: desde 768px en adelante */
@media (min-width: 768px) {
}

/* VERSIÓN DESKTOP: Desde 1024px en adelante*/
@media (min-width >= 1024px) {
}
